<div class="dropdown dropdown-end ml-1 group">
  <button class="btn btn-ghost gap-2 px-2">
    <%= avatar_for_character(current_partner) %>
    <span class="font-bold"><%= current_partner&.name %></span>
    <span class="icon-[lucide--chevron-down] w-4 h-4 opacity-70 transition-transform group-focus-within:rotate-180"></span>
  </button>

  <div class="dropdown-content p-1 shadow-lg bg-base-100 max-w-xl rounded-box mt-1 border border-base-300 overflow-x-auto" id="character-selector">
    <ul class="menu menu-horizontal items-start flex-nowrap gap-1">
      <% character_options.each do |character| %>
        <li>
          <%= link_to_character character,
                                select_character_path(character.id),
                                data: { turbo_method: :post },
                                size: 20 %>
        </li>
      <% end %>

      <li>
        <%= link_to_new_character new_character_path,
                                  data: { turbo_frame: "modal" },
                                  size: 20 %>
      </li>
    </ul>
  </div>
</div>
