<div id="message-placeholder-<%= chat.id %>" class="<%= bubble_class %>">
  <div class="chat-header px-3">
    <span class="font-medium"><%= sender.name %></span>
  </div>
  <div class="chat-bubble <%= bubble_color %> message-placeholder">
    <span class="typing-dot"></span>
    <span class="typing-dot"></span>
    <span class="typing-dot"></span>
  </div>
</div>
