<details class="dropdown dropdown-end">
  <summary class="btn btn-ghost">
    <span class="font-bold"><%= current_user&.name || "Select User" %></span>
    <span class="w-8 h-8 rounded-full bg-base-100 flex items-center justify-center font-medium shadow-sm">
      A
    </span>
  </summary>
  <ul class="dropdown-content menu p-3 shadow bg-base-100 rounded-box w-52 z-10">
    <% user_options.each do |name, id| %>
      <li>
        <%= link_to name, select_user_path(user_id: id), data: { turbo_method: :post } %>
      </li>
    <% end %>
  </ul>
</details>