<div class="image-with-caption">
  <a href="<%= image_url %>" data-lightbox="attachments" data-title="<%= filename %>" class="lightbox-link inline-block">
    <%= image_tag image_url, class: image_class, alt: filename %>
  </a>
  <% if prompt.present? %>
    <div class="text-xs text-gray-500 mt-1"><%= prompt %></div>
  <% end %>
</div>
