<%= component :"ui/modal", width: "max-w-6xl", main_classes: "!overflow-hidden h-[75vh] bg-base-200", padding: false do |m| %>
  <% m.with_title do %>
    <span><%= t(:label_edit_character) %></span>
  <% end %>

  <%= component :characters__details, character: @character, partner: current_partner %>
<% end %>
