
<%= component :"ui/modal", frame_id: "characters_index" do |m| %>
  <% m.with_title do %>
    <span><%= t(:label_characters) %></span>
  <% end %>

  <%= component :"characters/index", user: current_user %>
<% end %>
