<% if results_frame_request? %>
  <%= render datatable.results_component %>
<% elsif datatable_frame_request? %>
  <%= render datatable %>
<% else %>
  <div class="hidden" data-character-facts-target="draftStore" aria-hidden="true"></div>
  <%= render datatable %>
<% end %>
