<% if description.present? %>
  <div class="prose prose-sm max-w-none"><%= helpers.markdown(description) %></div>
<% else %>
  <p class="text-sm opacity-60"><%= t(:text_no_character_description) %></p>
<% end %>
