<%= helpers.turbo_frame_tag frame_id, data: { controller: "datatable" } do %>
  <div class="<%= container_classes %>">
    <%= render filters_component if filters_component? %>
    <%= render results_component %>
  </div>
<% end %>
